.footer-body-container{
    width: 100%;
    border-top: 2px solid #D4023E;
    border-bottom: 2px solid #D4023E;
}
ul{
    padding-left: 0!important;
}
li{
    list-style: none;
}
.footer-link{
    text-decoration: none;
    font-size: 12px;
    color: white;
    cursor: pointer;
    line-height: 45px;
    font-weight: 100;
}

.left-footer-section{
    padding: 35px 0 25px;
}
.right-footer-section{
    border-left: 1.5px solid #D4023E;
}
.btn-footer{
    color: white;
    background-color: red;
    border: 2px solid #ff0000;
    /* border-radius: 5px; */
    padding: 1px 10px;
    transition: all .7s;
}
.btn-footer:hover{
    background-color: rgb(27, 113, 163);
    color: white;
    border: 2px solid black;
}

@media (max-width: 688px) {
    h5, li{
        text-align: center;
    }
    .right-footer-section{
        border-left: 0;
        border-top: 1.5px solid #D4023E;
    }
}

@media (min-width: 689px) and (max-width: 992px){
    h5, li{
        text-align: center;
    }
    .right-footer-section{
        border-left: 0;
        border-top: 1.5px solid #D4023E;
    }
    .input-section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .notify-input{
        display: block;
        margin-top: 8px;
    }
    }