.dropdown-menu{
    margin-top: 15px!important;
}
.navigation-bar, .nav-container{
    background-color: white!important;
}
.nav-drop{
    display: flex;
    flex-direction: row;
}
#basic-nav-dropdown{
    background-color: white;
}
.nav-icon{
    float: left;
    height: 20px;
    padding: 7px 5px 0 3px;
    width: 40px;
    margin-top: -6px;
    background-repeat: no-repeat;
}
.nav-account{
    background-image: url(../../../images/navigation/account.svg);
}
.nav-wishlist{
    background-image: url(../../../images/navigation/wishlist.svg);
}
.nav-cart{
    background-image: url(../../../images/navigation/basket.svg);
}
.nav-text{
    position: relative;
    bottom: 7px;
    right: 10px;
    font-size: 13px;
}

.sign-out{
    color: black;
    font-size: 20px;
}
.nav-hr{
    top: 55px!important;
}


@media (max-width: 688px) {
    .nav-drop{
        flex-direction: column;
    }
    .nav-hr{
        top: 48px!important;
    }
}
@media (min-width: 689px) and (max-width: 992px){
    .nav-drop{flex-direction: column;}
    .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: none;
    }
    .nav-hr{
        top: 55px!important;
    }
    
    }