.offer-container{
   height: 430px;
   background-image: url('../../../images/offer/20.png');
   background-size: cover;
   font-family: 'Cormorant' !important;
   padding-top: 70px;
   width: 100%;
   overflow: hidden;
}
.offer{
    width: 257px;
    height: 245px;
    display: inline-block;
    margin-right: 315px;
}
.offer-header{
 position: relative;
 font-size: 30px;
 top: 55px;
}
.offer-body{
    font-size: 12rem;
    font-weight: 700;
    transform: scale(.7, .8);
    box-sizing: border-box;
}
.offer-footer{
    position: relative;
    bottom: 60px;
    left: 37px;
    font-size: 30px;
}

@media (max-width: 688px) {
   .offer{
       margin: 0 auto;
   }
}