.notify-banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.notify-input{
    border: none;
    height: 30px;
    width: 250px;
    margin-right: 5px;
}
.notify-input:focus{
    border: none;
}
::placeholder {
    font-size: small;
  }

  @media (max-width: 688px) {
    .notify-banner{
        flex-direction: column;
    }
}