.btn-general{
    color: red;
    border: 2px solid #ff0000;
    /* border-radius: 5px; */
    padding: 3px 10px;
    transition: all .7s;
}
.btn-general:hover{
    background-color: rgb(27, 113, 163);
    color: white;
    border: 2px solid black;
}
.trending-product-img{
    height: 150px;
    width: 150px;
}