
.icon-color{
    color: green;
}
.banner-img{
  height: 510px;
  width: 100%;
  overflow: hidden;
}
.bottom-banner{
  margin-top: 33px;
}
.round {
    position: relative;
  }

.tail-banner-img{
  height: 100px;
  width: 100%;
}
  
  #exampleColorInput, #exampleColorInput:hover{
      border: none;
  }

  .btn-banner{
    color: white;
    border: 2px solid red;
    padding: 3px 10px;
    transition: all .7s;
}
.btn-banner:hover{
    background-color: rgb(27, 113, 163);
    color: white;
    border: 2px solid black;
}
.color-btn{
  height: 13px;
  width: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

  @media (max-width: 688px) {
    .banner-slider{
      margin-bottom: 15px;
    }
    .side-banner{
      display: none;
    }
  }